In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("iris_classification/datasets/data_with_nans.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     170 non-null    int64
 1   Id             170 non-null    int64
 2   SepalLengthCm  167 non-null    float64
 3   SepalWidthCm   169 non-null    float64
 4   PetalLengthCm  166 non-null    float64
 5   PetalWidthCm   168 non-null    float64
 6   Species        170 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 9.4+ KB

# Reducing unnecessary columns

In [5]:
data.columns

Index(['Unnamed: 0', 'Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [6]:
data.drop('Unnamed: 0', axis=1, inplace=True)
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.7,3.2,1.6,0.2,Iris-setosa
2,2,4.9,3.1,1.5,0.1,Iris-setosa
3,3,4.4,2.9,1.4,0.2,Iris-setosa
4,4,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
165,165,5.7,2.5,5.0,2.0,Iris-virginica
166,166,6.8,3.0,5.5,2.1,Iris-virginica
167,167,6.4,2.7,5.3,1.9,Iris-virginica
168,168,7.2,3.6,6.1,2.5,Iris-virginica
169,169,6.3,3.3,6.0,2.5,Iris-virginica

In [7]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  170.000000     167.000000    169.000000     166.000000    168.000000
mean    84.500000       5.826347      3.072781       3.707229      1.180357
std     49.218899       0.827189      0.447578       1.789382      0.765049
min      0.000000       4.300000      2.000000       1.000000      0.100000
25%     42.250000       5.100000      2.800000       1.500000      0.300000
50%     84.500000       5.800000      3.000000       4.300000      1.300000
75%    126.750000       6.400000      3.400000       5.100000      1.800000
max    169.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
data.groupby('Species').agg(['min', 'max', 'std', 'mean'])

                  Id                        SepalLengthCm                 \
                 min  max        std   mean           min  max       std
Species
Iris-setosa        0   59  17.464249   29.5           4.3  6.9  0.429014
Iris-versicolor   60  113  15.732133   86.5           4.9  7.0  0.516189
Iris-virginica   114  169  16.309506  141.5           4.9  7.9  0.650025

                          SepalWidthCm                          PetalLengthCm  \
                     mean          min  max       std      mean           min
Species
Iris-setosa      5.034483          2.3  4.4  0.390709  3.389831           1.0
Iris-versicolor  5.932075          2.0  4.4  0.382355  2.805556           1.5
Iris-virginica   6.546429          2.2  3.9  0.355203  2.996429           1.3

                                         PetalWidthCm
                 max       std      mean          min  max       std      mean
Species
Iris-setosa      5.4  0.639570  1.572414          0.1  2.1  0.295950  0.300000
Iris-versicolor  5.1  0.623167  4.190385          0.4  1.8  0.235049  1.314815
Iris-virginica   6.9  0.795195  5.469643          0.4  2.5  0.353215  1.992727

In [9]:
data.isna().sum()

Id               0
SepalLengthCm    3
SepalWidthCm     1
PetalLengthCm    4
PetalWidthCm     2
Species          0
dtype: int64

In [11]:
for column in data.columns[1:-1]:
    data[column].fillna(data[column].mean(), inplace = True)

In [12]:
data.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64